form{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    
}

form button{
    position: relative;
    top: 170px;
}


.abajo{
    position: relative;
    top: 130px;
}

section{
    display: flex;
    gap: 10px;
    
    flex-direction: column;
    align-items: center;
    
} 




